*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400; }

.container {
  display: grid;
  grid-template-columns: [margin-left-start] 1fr [margin-left-end contact1-start] 33.75vw [contact1-end contact2-start] 33.75vw [contact2-end margin-right-start] 1fr [margin-right-end];
  grid-template-rows: 8rem auto 10rem;
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  background-color: #F4F3F5; }

.header {
  background-color: #6200EA;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: [margin-left-start] 1fr [margin-left-end contact1-start] 33.75vw [contact1-end contact2-start] 33.75vw [contact2-end margin-right-start] 1fr [margin-right-end];
  grid-column-gap: 3rem;
  align-items: center; }

.logo-box {
  grid-column: 2/3; }

.nav-box {
  grid-column: 3/4;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.header-nav {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: auto; }
  .header-nav__item {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all .2s;
    color: rgba(244, 243, 245, 0.65); }
    .header-nav__item:active, .header-nav__item:hover {
      border-bottom: 4px solid #fff;
      color: #fff;
      border-top: 4px solid #6200EA; }
  .header-nav__link, .header-nav__link:link, .header-nav__link:visited {
    font-size: 1.2rem;
    color: inherit;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    letter-spacing: 2.4px;
    direction: rtl;
    text-indent: -2.4px;
    text-transform: uppercase;
    text-align: left;
    display: block;
    transition: all .2s; }

.mb-lg {
  margin-bottom: 3rem; }

.mb-sm {
  margin-bottom: 1rem; }

.mb-xs {
  margin-bottom: 0.5rem; }

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 6rem;
  width: 33.75vw; }

.left-card {
  grid-row: 2/3;
  grid-column: 2/3; }
  .left-card__picture {
    width: 100%;
    height: 17.5vw; }
  .left-card__gmap-canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 17.5vw; }
  .left-card__bold {
    font-size: 1.2rem;
    color: #6200EA;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    text-align: left;
    display: block; }
  .left-card__text {
    font-size: 1.4rem;
    line-height: 2rem;
    color: #211138;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
    display: block; }

.icon-box {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #6200EA;
  font-size: 1rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-bottom: 0; }
  .icon-box:not(:last-child) {
    margin-right: 1rem; }
  .icon-box:hover {
    background-color: #fff;
    border: 2px solid #6200EA; }
  .icon-box:hover .icon {
    color: #6200EA; }

.icon {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.right-card {
  grid-row: 2/3;
  grid-column: 3/4; }
  .right-card__title {
    color: #211138;
    font-size: 4rem;
    line-height: 5rem;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: bold; }
  .right-card__text {
    color: #211138;
    font-size: 2rem;
    line-height: 3rem;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-bottom: 2rem; }

.form__input {
  width: 100%;
  height: 5rem;
  display: block;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: rgba(33, 17, 56, 0.25);
  background-color: #F4F3F5;
  border: none;
  border-bottom: 4px solid #fff;
  padding: 1.6rem 2.4rem;
  margin-bottom: 1.5rem; }
  .form__input:focus {
    outline: none;
    border-bottom: 4px solid #6200EA; }
  .form__input:focus:invalid {
    border-bottom: 4px solid red; }
  .form__input--text {
    width: 100%;
    height: 15rem;
    margin-bottom: 2rem;
    display: table-cell; }
  .form__input::placeholder {
    color: rgba(33, 17, 56, 0.25); }

.btn,
.btn:link,
.btn:visited {
  width: 100%;
  height: 5rem;
  text-align: center;
  outline: none;
  border-radius: 2.4rem;
  background-color: #6200EA;
  padding: 1.75rem 0;
  color: #fff;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 2.4px;
  line-height: 1.5rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer; }
  .btn:hover,
  .btn:link:hover,
  .btn:visited:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(98, 0, 234, 0.2); }
  .btn:active,
  .btn:link:active,
  .btn:visited:active {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(98, 0, 234, 0.2); }

.footer {
  grid-row: 3/4;
  grid-column: 1/-1;
  background-color: #211138;
  display: flex;
  align-items: center; }
  .footer__text {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 2.4px;
    line-height: 15px;
    text-align: center;
    color: #B2ACBA;
    text-transform: uppercase; }
  .footer__link {
    color: #6200EA;
    cursor: pointer; }
